.App {
  text-align: center;
}

.logo {
  margin-top: 1px;
  width: 30px;
  height: 30px;
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* .menu{
  color: white;
padding: auto;;
margin: 10px;
line-height: 5em;
      text-decoration: none;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
      cursor:pointer;
}

.side{
  
  background-color: rgb(0,7,61);
  position: fixed;
  border: 1px solid black;
  border-radius: 3% 3%;
  width: 200px;
  margin: 20px;
 
}
 */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

